<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot HTML Example</title>
    <style>
        p{
            color:olive;
            background-color: azure;
        }
    </style>
</head>
<body>
    <h1>Hello, Spring Boot!</h1>
    <p>This is a simple HTML page returned from a Spring Boot server.</p>
    <p>My name is Muhammad Nabeel</p>
    <p>Are you doing good in your life</p>
    <p>Are you doing right too</p>
    <a href="/counterApp">Another
    
    </a>
</body>
</html>
